<footer>
  <div class="layout">
    <div class="grid">
      <div class="col">
        <div class="logo mb-3">
          <img src="/public/images/logo-light.svg" alt="Logo light" />
        </div>
        <div class="text"><%-__('footer_about') %></div>
      </div>
      <div class="col">
        <div class="title mb-3"><%-__('follow_us') %>:</div>
        <div class="mb-4 social-media">
          <a href="" target="_blank">
            <img src="/public/images/icons/youtube.svg" alt="youtube" />
          </a>

          <a href="" target="_blank">
            <img src="/public/images/icons/facebook.svg" alt="facebook" />
          </a>

          <a href="" target="_blank">
            <img src="/public/images/icons/instagram.svg" alt="instagram" />
          </a>

          <a href="" target="_blank">
            <img src="/public/images/icons/threads.svg" alt="threads" />
          </a>
        </div>

        <div class="menu-links">
          <div class="links" onclick="toPrivacy()">
            <%-__('privacy_policy') %>
          </div>
          <div class="links" onclick="toTerms()"><%-__('terms_of_use') %></div>
          <div class="links" onclick="toContact()"><%-__('contact') %></div>
          <div class="links" onclick="toCompany()"><%-__('company') %></div>
        </div>
      </div>
      <div class="col">
        <div class="title mb3"><%-__('join_the_list') %></div>
        <div class="text mb-3"><%-__('mail_list_text') %></div>
        <form id="newsletterForm">
          <div class="mb-3">
            <label for="name" class="light"><%-__('full_name') %></label>
            <input class="light" type="text" id="nl-name" />
          </div>
          <div class="mb-3">
            <label for="email" class="light"><%-__('email') %></label>
            <input class="light" type="email" id="nl-email" />
          </div>
          <div class="mb-3">
            <label class="check-container light">
              <%-__('mail_list_consent') %>
              <input type="checkbox" id="consentCheckbox" checked="checked" />
              <span class="checkmark"></span>
            </label>
          </div>
          <div id="newsLettersAlert" class="form-alert d-none"></div>
          <div class="mt-4">
            <button type="submit" class="w100 butn butn-primary">
              <%-__('join') %>
            </button>
          </div>
        </form>
      </div>
    </div>

    <div class="bottom">© 2025 Link234. All Rights Reserved.</div>
  </div>
</footer>
