<!DOCTYPE html>
<html lang="<%- __('lang') %>">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="/public/images/linkhub-icon.png"
      type="image/x-icon"
    />
    <title><%= __('forgot_password') %> | Link234</title>
    <link rel="stylesheet" href="/public/style/theme.css" />
  </head>
  <body>
    <main>
      <div class="auth-wrapper">
        <div class="auth">
          <div class="logo">
            <img src="/public/images/logo-f1.svg" alt="Logo" />
          </div>
          <div class="max-500">
            <form id="passResetForm" novalidate>
              <div class="title txt-center">
                <%= __('reset_new_password') %>
              </div>
              <div class="sub mb-3 txt-center">
                <%= __('reset_password_title') %>
              </div>

              <div class="mb-3">
                <input
                  type="password"
                  id="password"
                  placeholder="<%= __('password') %>"
                  required
                />
              </div>

              <button
                type="submit"
                id="saveButton"
                class="butn butn-primary mb-3 w-100"
              >
                <%= __('save_password') %>
              </button>

              <p>
                <%= __('go_back_login') %>
                <a href="/login"><%= __('login') %></a>
              </p>
            </form>
          </div>
        </div>
        <div class="bg">
          <img src="/public/images/authLoginBg.webp" alt="authBg" />
        </div>
      </div>
    </main>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.7/axios.min.js"
      integrity="sha512-DdX/YwF5e41Ok+AI81HI8f5/5UsoxCVT9GKYZRIzpLxb8Twz4ZwPPX+jQMwMhNQ9b5+zDEefc+dcvQoPWGNZ3g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="/public/js/languageSwitcher.js"></script>
    <script src="/public/js/config.js"></script>
    <script>
      const API_URL = apiBaseUrl;
      document.addEventListener("DOMContentLoaded", function () {
        const passResetForm = document.getElementById("passResetForm");
        const saveButton = document.getElementById("saveButton");
        const passwordInput = document.getElementById("password");

        // Function to get the token from the URL
        function getTokenFromUrl() {
          const urlParams = new URLSearchParams(window.location.search);
          return urlParams.get("token");
        }

        // Function to show a top success or error message
        function showTopMessage(message, isSuccess = false) {
          clearTopMessage();

          const messageDiv = document.createElement("div");
          messageDiv.className = `form-alert ${
            isSuccess ? "success" : "error"
          }`;
          messageDiv.textContent = message;

          const subDiv = document.querySelector(".sub");
          subDiv.insertAdjacentElement("afterend", messageDiv);
        }

        // Function to clear any existing top message
        function clearTopMessage() {
          const existingMessage = document.querySelector(
            ".form-alert.success, .form-alert.error"
          );
          if (existingMessage) existingMessage.remove();
        }

        // Function to map API error messages to localized strings for reset password
        function translateResetPasswordError(apiMessage) {
          const translations = {
            "Invalid or expired token": "<%= __('invalid_token') %>",
            "Invalid token or user not found":
              "<%= __('invalid_token_or_user_not_found') %>",
          };
          return (
            translations[apiMessage] || "<%= __('failed_reset_password') %>"
          );
        }

        // Form submission handler
        passResetForm.addEventListener("submit", function (event) {
          event.preventDefault();

          // Get the token from the URL
          const token = getTokenFromUrl();
          if (!token) {
            showTopMessage("<%= __('invalid_token') %>", false);
            return;
          }

          // Check if the password input is valid
          if (!passwordInput.value) {
            showTopMessage("<%= __('password_required') %>", false);
            return;
          }

          saveButton.textContent = "<%= __('saving') %>"; // Set loading text

          // Make the POST request to the reset-password API
          axios
            .post(`${API_URL}/auth/reset-password?token=${token}`, {
              newPassword: passwordInput.value,
            })
            .then((response) => {
              showTopMessage("<%= __('password_reset_successfull') %>", true);
              passResetForm.reset();
            })
            .catch((error) => {
              const apiMessage =
                error.response && error.response.data.message
                  ? error.response.data.message
                  : null;
              const localizedMessage = translateResetPasswordError(apiMessage);
              showTopMessage(localizedMessage, false);
            })
            .finally(() => {
              saveButton.textContent = "<%= __('save_password') %>"; // Reset button text
            });
        });
      });
    </script>
  </body>
</html>
